<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <title>The unoficial Witcher 3 website</title>
  </head>
  <body>
    <h1>The Witcher 3 Wild Hunt</h1>
    <img src="app\assets\images\the_witcher_3_wild_hunt_leszy.jpg" alt="Image presents Leszy from Witcher 3 video game">
    <p>The Witcher is the best game in the world</p>
  
    </body>
</html>